extends _layouts/base



block body
	- __symbol_defaults.path = '/examples/assets/images'
	- __symbol_defaults.file = 'symbols'
	- __symbol_defaults.width = 16

	+button({
		text: 'Button',
		icons: {
			start: {
				id: 'dog',
			},
		},
	})

	+button({
		text: 'Link',
		url: '#',
		icons: {
			start: {
				id: 'dog',
				width: 24,
			},
			end: {
				id: 'dog',
				width: 24,
			},
		},
	})

	+button({
		text: 'Disabled Button',
	})(
		disabled
	)
