extends _layouts/base



block body
	- __symbol_defaults.path = '/examples/assets/images'
	- __symbol_defaults.file = 'symbols'

	+button({text:'Button'})

	+button({
		text: 'Link',
		url: '#',
		icon: {
			size: '24',
			id: 'dog',
		},
	})

	+button({
		text: 'Button Disabled',
	})(disabled)
